* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 396px;
  height: 852px;
  background-color: #fc7da8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-board {
  width: 360px;
  height: 480px;
  background-color: #ffc567;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 3px 3px 6px rgb(69, 67, 67);
}

.header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
  border-radius: 5px;
  padding: 0 10px;
  color: #009a5e;
  text-shadow: 1px 1px 1px black;
}
.cells {
  display: flex;
}
.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid #009a5e;
}
.cell img {
  width: 90%;
}
.cell.one {
  border-top: none;
  border-left: none;
}
.cell.two {
  border-top: none;
}
.cell.three {
  border-top: none;
  border-right: none;
}
.cell.four {
  border-left: none;
}
.cell.six {
  border-right: none;
}
.cell.seven {
  border-left: none;
  border-bottom: none;
}
.cell.eight {
  border-bottom: none;
}
.cell.nine {
  border-bottom: none;
  border-right: none;
}
.score {
  margin-top: 20px;
  text-align: center;
}
.score-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.btn {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  display: block;
  font-size: 16px;
  padding: 14px 35px;
  background-color: #009a5e;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid black;
  color: #ffc567;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #333;
}

.playerO {
  font-size: 64px;
  color: #fd5a47;
}

.playerX {
  font-size: 64px;
  color: #048cd6;
}
